body {
    background-color: azure;
}
.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
}
h4 {
    color: darkslategrey;
}

b + i {
    color: red;
    font-size: 12pt;
}
h4 + i, i + i {
    color: blueviolet;
    font-size: 13pt;
    font-family: sans-serif;
}

a:link {
    color: black;
}
a:hover {
    color: cornflowerblue;
}
a:visited {
    color: grey;
}
a:active {
    color: orange;
}

.img1 {
    float: right;
}

.block_list {
    height: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ol_list {
    font-size: 16px;
    width: 600px;
    margin-left: 20px;

    counter-reset: item;
}
.ol_list li {
    margin-bottom: 15px;
    padding: 5px;
    text-decoration: none;
    font-style: italic;
    font-family: Montserrat, sans-serif;

    display: block;
}
.ol_list li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: black;
}
/* Лабораторна робота №15 */
.list_js {
    background: #0bbce5;
    font-size: 18px;
    color: #ffffff;
}
/* ----------------------- */
.ul_list {
    list-style-type: none;
}
.ul_list li {
    margin-bottom: 15px;
}
.ul_list a {
    background: #fcb48f;
    border-radius: 4px;
    color: ghostwhite;
    padding: 5px;
    text-decoration: none;
}
.ul_list a:hover {
    color: cornflowerblue;
}
.ul_list li:before{
    content: '';
    display: inline-block;
    height:13px;
    width: 13px;
    vertical-align: middle;
    background-color: #FF7A2F;
    margin-right:5px;
}
ul > li:after {
    content: "псевдоелемент After";
    margin-left: 20px;
    font-style: italic;
    background-color: bisque;
}
